@font-face {
  font-family: "LeagueGothic";
  src: url("./fonts/leaguegothic-regular-webfont.woff") format("woff"),
    url("./fonts/leaguegothic-regular-webfont.woff2") format("woff2");
}
@font-face {
  font-family: "DroidSerif";
  src: url("./fonts/Droid-Serif.ttf.woff") format("woff");
}
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;800&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0 auto;
  font-family: Lato, sans-serif;
  text-align: center;
  font-size: 16px;
  color: #073b4c;
  max-width: 100%;
  padding: 0px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: Lato, sans-serif;
}
